```css
.theme-dark .headerNormal-T_seeN {
    background: url(https://cdn.discordapp.com/attachments/821562888275755008/823711872808124416/542746.jpg); /* INSERT YOUR BACKGROUND IMAGE HERE, HAS TO BE A DIRECT LINK AND MUST END IN .png, .jpg, .gif (not recommended) AND OTHER FILE TYPES. */
    background-size: cover;
}
.topSectionNormal-2-vo2m {
    background: url(https://cdn.discordapp.com/attachments/821562888275755008/823711872808124416/542746.jpg); /* INSERT YOUR BACKGROUND IMAGE HERE, HAS TO BE A DIRECT LINK AND MUST END IN .png, .jpg, .gif (not recommended) AND OTHER FILE TYPES. */
    background-size: cover;
}
.headerPlaying-j0WQBV {
    background: url(https://cdn.discordapp.com/attachments/821562888275755008/823711872808124416/542746.jpg); /* INSERT YOUR BACKGROUND IMAGE HERE, HAS TO BE A DIRECT LINK AND MUST END IN .png, .jpg, .gif (not recommended) AND OTHER FILE TYPES. */
    background-size: cover;
}
```
